<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" th:href="@{/css/post.css}"></link>
</head>

<div class="col-md-12 personal-info post">
<h3 style="padding-top:10px;" class="col-lg-4">Modificar Post</h3>

<form th:action="@{'/post/modificarPost/' + ${pos.id}}" method="POST" name="modificar" id="modificar" class="form-horizontal">
			<div class="form-group">
			  <label class="col-lg-4 control-label">Título:</label>
			  <div class="col-lg-8">
				<input class="form-control" type="text" name="titulo" id="titulo" />
				<div id="tituloPost"></div>
			  </div>
			</div>
			<div class="form-group">
			      <label class="col-lg-4 control-label">Mensaje:</label>
			  <div class="col-lg-8">
				<textarea class="form-control" name="contenido" id="contenido" rows="4" cols="50" placeholder="Escribe tu mensaje aquí" ></textarea>
				<div id="contenidoPost"></div>
			  </div>
			</div>
          <div class="form-group">
            <div class="col-md-12">
			  <button type="submit" class="btn btn-info" id="guardarCambios" value="Guardar Cambios" onclick="return validarCampos()">Guardar Cambios</button>
			  <input type="reset" class="btn btn-default" value="Cancelar" style="margin-bottom: 5px;"/>
            </div>
          </div>
        </form>
        </div>
        <script>
        function validarCampos(){
            var valido = true;
            var titulo = document.getElementById("titulo").value;
            var testTitulo = /^[\W\s\w]{1,100}$/i;

            var mensaje = document.getElementById("contenido").value;
            var testMensaje = /^[\W\s\w]{1,2000}$/i;

            if (!testTitulo.test(titulo)) {           
                document.getElementById("tituloPost").innerHTML = "Este campo no debe de estar vacío ni superar los 100 caracteres";
				return false;
            
            }else {
                document.getElementById("tituloPost").innerHTML ="";

            } 
            
             if (!testMensaje.test(mensaje)) {
                document.getElementById("contenidoPost").innerHTML = "Este campo no debe de estar vacío ni superar los 2000 caracteres";
				return false;
            } else {
                document.getElementById("contenidoPost").innerHTML ="";

            }
            return true;
          }
        
        </script>