<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" th:href="@{/css/post.css}"></link>
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	
</head>

<div th:switch="${session.user}">
		<li th:case="null"></li>
		<li th:case="*">
			<div class="temaypagina">
			<a th:href="@{/post/crearPost}"><button type="button" class="btn btn-primary nuevotema" onclick="crearTema()">Nuevo tema</button></a>
			</div>
		</li>
</div>
<div class="table-responsive-sm table-responsive-lg table-responsive-xl">
<table id="otrosC" class="table stripe" style="width:100%">
		<thead>
			<tr>
			  <th class="apartado" colspan="4" style="font-size: 18px;font-weight: 700;background-color: #cbf1f5;">Otras Correcciones</th>
			</tr>
            <tr>
              <th class="tema" style="font-size: 15px;font-weight: 650;">Tema</th>
			  <th style="font-size: 15px;font-weight: 650;">Escrito por</th>			  
			  <th style="font-size: 15px;font-weight: 650;">Respuestas</th>
			  <th style="font-size: 15px;font-weight: 650;">Visitas</th>
            </tr>
        </thead>
            <tr th:each = "post: ${posts}">
			  <th class="tema" style="font-size: 15px;font-weight: 500;">					
					<a th:href="@{'/respuesta/respuesta/' + ${post.id}}" style="text-decoration:none;color:black;">
						<div th:utext="${post.titulo}" class="titulo">	
						</div>
					</a>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
				  <a th:href="@{'/usuario/perfilAjeno/' + ${post.postSuyo.id}}" style="text-decoration:none;color:black;">
						<div th:utext="${post.postSuyo.alias}" class="escrito">	
						</div>
				  </a>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${nRespuestas[post.id]}">	
					</div>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${post.nVisitas}">	
					</div>
			  </th>
            </tr>
    </table>
    </div>
	
<div th:switch="${session.user}">
		<li th:case="null"></li>
		<li th:case="*">
			<div class="temaypagina">
			<a th:href="@{/post/crearPost}"><button type="button" class="btn btn-primary nuevotema" onclick="crearTema()">Nuevo tema</button></a>
			</div>
		</li>
</div>
<script>
$('#otrosC').DataTable( {
    responsive: true,
    info :false,
	ordering: false,
	language : {
		"url": "/js/spanish.json"
	}
} );

</script>