<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" th:href="@{/css/post.css}"></link>
</head>

<div class="col-md-12 personal-info post">
<h3 style="padding-top:10px;" class="col-lg-4">Modificar respuesta</h3>
<form th:action="@{'/respuesta/modificarRespuesta/' + ${respuesta.id}}" method="POST" name="modificar" id="modificar" class="form-horizontal">
			<div class="form-group">
			  <div class="col-lg-8">
				<textarea class="form-control" name="contenido" id="contenido" rows="4" cols="50" placeholder="Escribe tu mensaje aquí" ></textarea>
				<div id="contenidoPost"></div>
			  </div>
			</div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
			  <button type="submit" class="btn btn-info" id="guardarCambios" value="Guardar Cambios" onclick="return validarCampos()">Guardar Cambios</button>
			  <input type="reset" class="btn btn-default" value="Cancelar" style="margin-bottom: 5px;"/>
            </div>
          </div>
        </form>
        </div>
        <script>
        function validarCampos(){
            var valido = true;

            var mensaje = document.getElementById("contenido").value;
            var testMensaje = /^[\W\s\w]{1,2000}$/i;

             if (testMensaje.test(mensaje)) {
               valido = true;
              document.getElementById("contenidoPost").innerHTML = "";
            } else {
              valido = false;
              document.getElementById("contenidoPost").innerHTML = "Este campo no debe de estar vacío ni superar los 2000 caracteres";
            }

            return valido;
          }
        
        </script>