<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" th:href="@{/css/respuesta.css}"></link>	
</head>
<body> 
        <div th:switch="${session.user}">
                <li th:case="null"></li>
                <li th:case="*">
                    <div class="temaypagina">
						<a th:href="@{'/respuesta/crearRespuesta/' + ${post.id}}"><button type="button" class="btn btn-primary nueva-respuesta">Responder</button></a>
                    </div>
                </li>
				
        </div>
		<div style="width:100%; background: #dee2e6; border: 1px solid #909497; border-radius: 10px;">
			<div class="row" id="recuadro" style="width:100%">
				<div class="text-center col-lg-2">
					<a th:href="@{'/usuario/perfilAjeno/' + ${post.postSuyo.id}}" style="text-decoration:none;color:black;">
						<img th:if="${post.postSuyo.foto}" th:src="${post.postSuyo.foto}" class="rounded-circle" width="130" height="130" />
						<img th:unless="${post.postSuyo.foto}" th:src="@{http://ssl.gstatic.com/accounts/ui/avatar_2x.png}" class="rounded-circle" width="130" height="130" /><br/>
						<strong><div th:utext="${post.postSuyo.alias}"></div></strong>
					</a>
				</div>
					<div class="col-lg-10">
						<strong><div th:text="${post.titulo}" name="titulo" id="titulo" class="card-title"></div></strong>
						<div th:text="${post.contenido}" name="contenido" id="contenido" class="card-text text-justify"></div>
						 
						<div th:switch="${session.user}" class="iconos">
							<div th:case="null">
							</div>
							<div th:case="admin">
							<a th:href="@{'/admin/borrarPost/' + ${post.id}}" onclick="return confirm('¿Estás seguro de que quieres borrar este post?')">
								<i class="fas fa-trash-alt" style="font-size: 22px;"></i>
							</a>

								<i class="fas fa-arrows-alt" id="cambiarCategoria" style="font-size: 22px;"></i>

							</div>
							<span th:case="${post.postSuyo.alias}">
								<a class="colorIcono" th:href="@{'/post/modificarPost/' + ${post.id}}"><i class="fas fa-edit fa-lg"></i></a>
							</span>
							<!-- Ventana modal -->
							<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="mi-modal">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Cambiar categoría</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>
										<div class="modal-body">
											<form th:action="@{'/post/modificarCategoria/' + ${post.id}}" method="POST" name="cambiarCate" id="cambiarCate" class="form-horizontal">
												  <div class="form-group">
													<select class="form-control input-lg text-center" name="selectCambiarCategoria" id="selectCambiarCategoria">
													  <option value="1">Redacciones</option>
													  <option value="2">Currículums</option>
													  <option value="3">Cartas de presentación</option>
													  <option value="4">Otras Correciones</option>
													  <option value="5">Expresiones</option>
													  <option value="6">Gramática</option>
													  <option value="7">Jerga</option>
													  <option value="8">Otras dudas</option>
													</select>
												  </div>
												<button type="submit" class="btn btn-info" value="selectCambiarCategoria">Confirmar</button>
												<button type="button" class="btn btn-secondary" id="modal-btn-cancelar">Cancelar</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
        </div>
		<span id="spanner"></span>

            <div th:each = "respuesta: ${respuestas}">
				<div style="width:100%; background: #dee2e6; border: 1px solid #909497; border-radius: 10px;">				
					<div class="row" id="recuadro" style="width:100%">
						<div class="text-center col-lg-2">
							<a th:href="@{'/usuario/perfilAjeno/' + ${respuesta.respuestaSuya.id}}" style="text-decoration:none;color:black;">
								<img th:if="${respuesta.respuestaSuya.foto}" th:src="${respuesta.respuestaSuya.foto}" class="rounded-circle" width="130" height="130" />
								<img th:unless="${respuesta.respuestaSuya.foto}" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" width="130" height="130" /><br/>
								<strong><div th:utext="${respuesta.respuestaSuya.alias}"></div></strong>
							</a>
						</div>
							<div class="col-lg-10">
								<div th:text="${respuesta.contenido}" name="contenido" id="contenido" class="card-text text-justify"></div>
								 
								<div th:switch="${session.user}" class="iconos">
									<div th:case="null">
										<span th:text="${respuesta.likes}" style="margin-right: 5px;"></span><i class="far fa-thumbs-up fa-lg coloIcono"></i>
										<span th:text="${respuesta.dislikes}" style="margin-right: 5px;"></span><i class="far fa-thumbs-down fa-lg colorIcono"></i>
									</div>
									<div th:case="${respuesta.respuestaSuya.alias}">
										<a class="colorIcono" th:href="@{'/respuesta/modificarRespuesta/' + ${respuesta.id}}"><i class="fas fa-edit fa-lg"></i></a>
									</div>
									<div th:case="*">
										<span th:text="${respuesta.likes}" style="margin-right: 5px;"></span>
										<a id="like" class="far fa-thumbs-up fa-lg colorIcono" th:href="@{'/respuesta/like/' + ${respuesta.respuestaSuya.id} + '/' + ${respuesta.id}}"></a>
										<span th:text="${respuesta.dislikes}" style="margin-right: 5px;"></span>
										<a id="dislike" class="far fa-thumbs-down fa-lg colorIcono" th:href="@{'/respuesta/dislike/' + ${respuesta.respuestaSuya.id} + '/' + ${respuesta.id}}"></a>
									</div>
									
								</div>
							</div>
					</div>
				</div>
			</div>

<div th:switch="${session.user}">
		<li th:case="null"></li>
		<li th:case="*">

			<div class="temaypagina">
                    <a th:href="@{'/respuesta/crearRespuesta/' + ${post.id}}"><button type="button" class="btn btn-primary nueva-respuesta">Responder</button></a>
			</div>
		</li>
</div>
</body>

<script>
	$(document).ready(function(){
		$("#cambiarCategoria").on("click", function(){
			$("#mi-modal").modal('show');
		});
	});


</script>

 <!-- 
 <script>
$(document).ready(function() {       
    $("#like").click(function(event) {
        $.ajax({
            url: $(event.target).attr("href"),
            type: "GET",
              beforeSend: function(xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
              },
              success: function(data) {                
            	  console.log(data);
              }
        });
        event.preventDefault();
    });
    
    $("#dislike").click(function(event) {
        $.ajax({
            url: $(event.target).attr("href"),
            type: "GET",          
              beforeSend: function(xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
              },
              success: function(data) {                
                   console.log("ok");
              }
        });
   
        event.preventDefault();
    });
        
});
</script>-->