<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/css/normas.css}" />
</head>
<h2 class="col-lg-12" id="tituloAyuda">Cuenta</h2>
<hr/>
<h4 class="col-lg-12">No he recibido el correo de registro</h4>
<p class="col-lg-12">
Antes de nada, asegúrate de que has mirado en tu carpeta de correo no deseado.
</p>

<p class="col-lg-12">

Si pasadas 24 horas no lo has recibido, contacta con nosotros en correctenglishforo@gmail.com.

</p>

<h4 class="col-lg-12">¿Puedo cambiar mi nombre de usuario?</h4>
<p class="col-lg-12">
No, es imposible cambiar el nombre de usuario.

</p>

<h4 class="col-lg-12">¿Cómo borro mi cuenta?</h4>
<p class="col-lg-12">
Puedes borrar tu cuenta accediendo a tu perfil y seleccionando la opción "borrar usuario".

</p>

<h4 class="col-lg-12">¿Qué datos se eliminan al borrar mi cuenta?</h4>
<p class="col-lg-12">
Se borrarán todos los datos que facilitastes al registrarte en el foro.También se borrara tu alias de cualquier comentario o publicación que hicistes.
</p>
<hr/>
<h2 class="col-lg-12">Administración</h2>
<hr/>
<h4 class="col-lg-12">¿Quién es el administrador del sitio?</h4>
<p class="col-lg-12">

En Correct English la administración la llevan los propios creadores de la página.Son ellos los encargados de que se cumplan las <a th:href="@{/nav/normas}">normas</a> y se respete a los demás usuarios.
</p>
