<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" th:href="@{/css/post.css}"></link>
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	
</head>

<div class="table-responsive-sm table-responsive-lg table-responsive-xlm">
<table id="fil" class="display" style="width:100%">
		<thead>
			<tr>
			  <th class="apartado" colspan="4" style="font-size: 18px;font-weight: 700;background-color: #cbf1f5;" th:text="${' Búsqueda por &quot;' + filt + '&quot;'}"></th>
			</tr>
            <tr>
              <th class="tema" style="font-size: 15px;font-weight: 650;">Tema</th>
			  <th style="font-size: 15px;font-weight: 650;">Escrito por</th>			  
			  <th style="font-size: 15px;font-weight: 650;">Respuestas</th>
			  <th style="font-size: 15px;font-weight: 650;">Visitas</th>
            </tr>
        </thead>
            <tr th:each = "post: ${postsBuscador}">
			  <th class="tema" style="font-size: 15px;font-weight: 500;">					
					<a th:href="@{'/respuesta/respuesta/' + ${post.id}}">
						<div th:utext="${post.titulo}" class="titulo">	
						</div>
					</a>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
				  <a th:href="@{'/usuario/perfilAjeno/' + ${post.postSuyo.id}}">
						<div th:utext="${post.postSuyo.alias}" class="escrito">	
						</div>
				  </a>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${nRespuestas[post.id]}">	
					</div>
			  </th>
			  <th style="font-size: 15px;font-weight: 500;">
					<div th:utext="${post.nVisitas}">	
					</div>
			  </th>
            </tr>
    </table>
    </div>
	
<script>
$('#fil').DataTable( {
    responsive: true,
    info :false,
	ordering: false,
	language : {
		"url": "/js/spanish.json"
	}
} );

</script>
