<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/css/normas.css}" />
	
</head>
<div>
    <h1 class="col-lg-12" style="margin-top:10px;">Normas de uso</h1>

<p class="col-lg-12">La Comunidad de CorrectEnglish y sus foros son lugares de intercambio de opiniones e información entre sus usuarios. Los mensajes publicados en el foro, comentarios expresan las opiniones de sus autores, no de CorrectEnglish.</p>

<p class="col-lg-12">Como toda comunidad tenemos algunas normas básicas que debemos cumplir obligatoriamente en beneficio de todos, por lo que es imprescindible que las leas previamente a tu participación.</p>

<p class="col-lg-12">El hecho de ignorar o desconocer las normas y políticas de la Comunidad y Foros de CorrectEnglish no exime de su cumplimiento. Es obligación de todos los usuarios leer y adherirse a las normas aquí descritas.</p>


<h3 class="col-lg-12">Normas Generales</h3>
<p class="col-lg-12">Como usuario de CorrectEnglish.com, TE COMPROMETES A NO:</p>

<p class="col-lg-12">Difamar, abusar, acosar, molestar, amenazar o infringir los derechos legales (como los derechos de privacidad o publicidad) de otros.</p>

<p class="col-lg-12">Publicar, enviar, subir, distribuir o propagar ningún tema, nombre, información o material inapropiado, falso, soez, difamatorio, transgresor, obsceno, amenazante, ilegal, indecente, racista o que fomente cualquier tipo de odio, invasivo de la privacidad de alguna persona o que vulnere alguna ley o derechos de autor</p>

<p class="col-lg-12">Difundir, publicar o solicitar información que promueva la realización de ningún acto ilícito en su jurisdicción, incluyendo pero no limitado a: fraudes electrónicos, SPAM, Phishing, Spoofing, Forgery y cualquier otro tipo de conducta que sea considerada un acto ilegal.</p>

<p class="col-lg-12">Publicar en los mensajes o posts productos, servicios, enlaces, imágenes, contenidos o cualquier otro tipo de información con clara intención o propósito publicitario, compra/venta, comercial o de autopromoción. Esto incluye sugerir tus propios servicios, de asociados, clientes y empleadores.</p>

<p class="col-lg-12">Publicar enlaces (links o URL) que incluyan algún sistema de comisiones, afiliados, referidos o cualquier otro sistema del tipo pago por clic (pay per click).</p>


<p class="col-lg-12">Iniciar dos o más temas con respecto al mismo tópico o asunto, ni publicar dos o más mensajes cuyos contenidos coincidan dentro de un mismo tema en un mismo foro o en varios foros. Dichos temas o mensajes publicados podrán ser eliminados sin previo aviso.</p>

<p class="col-lg-12">Contar con más de una cuenta por persona manejada por una misma persona. Las cuentas adicionales podrán ser suspendidas (baneadas) sin aviso previo o posterior. En el supuesto caso de necesitar una cuenta adicional para el manejo de un grupo de la comunidad, dicha solicitud deberá comunicarse previamente y de forma privada al equipo de moderación.</p>

<p class="col-lg-12">Publicar mensajes en nombre o representación de usuarios suspendidos (baneados).</p>

<p class="col-lg-12">Hacer públicos los mensajes privados recibidos por parte de otro usuario. En caso de haber algo punible, ha de comentarse directamente con algún moderador.</p>

<p class="col-lg-12">Usar injustificadamente los llamados "reflotes": revivir o reactivar temas publicando información inútil o sin sentido, o realizar cualquier otra acción para mantener deliberadamente el tema en lo más alto del índice. Tampoco volver a poner de actualidad temas antiguos mediante nuevos mensajes.</p>

<p class="col-lg-12">Faltar al respeto el trabajo del personal de CorrectEnglish, lo que no implica que se pueda criticar constructivamente. Tampoco intentar, mediante insultos o calumnias, dañar la imagen de CorrectEnglish.</p>


<p class="col-lg-12">CorrectEnglish se reserva en todo momento derecho a:</p>

<p class="col-lg-12">Mover, borrar, editar o cerrar temas o mensajes que incumplan las normas y políticas establecidas en CorrectEnglish o por cuestiones administrativas, entendidas como tales todas aquellas situaciones que se demuestren contraproducentes en el buen funcionamiento y uso de Foros y Comunidad; a nuestra discreción y sin explicación previa o posterior.</p>

<p class="col-lg-12">Revelar cualquier información necesaria para hacer cumplir cualquier ley, regulación, proceso legal o petición gubernamental aplicable, y de editar, negarse a publicar o eliminar cualquier información o material, en conjunto o en parte, a su única discreción.</p>


<h3 class="col-lg-12">Información de Cuenta</h3>
<p class="col-lg-12">Para acceder a ciertas funciones de la comunidad y foros de CorrectEnglish tendrás que crear una cuenta. Al hacerlo reconoces, consientes y aceptas que CorrectEnglish puede acceder, conservar y revelar la información de cuenta si así lo requiere la ley, o si cree de buena fe que dicha conservación o revelación es necesaria para (a) cumplir con procesos legales; (b) aplicar las normas; (c) responder a una reclamación en caso de que alguna Presentación infrinja los derechos de terceros; (d) proteger los derechos, la propiedad o la seguridad personal de CorrectEnglish, sus usuarios y el público.</p>

<p class="col-lg-12">Tú serás el responsable de todas las actividades que se realicen con tu cuenta y contraseña, de modo que asegúrate de no compartirla con nadie y mantener su confidencialidad y seguridad.</p>

<p class="col-lg-12">Si tienes alguna razón para creer que tu cuenta ya no es segura (por ejemplo, en caso de pérdida, robo o revelación no autorizada de tu contraseña), deberás notificárselo de inmediato al equipo de moderación.</p>

<p class="col-lg-12">El incumplimiento de las normas y políticas de CorrectEnglish, así como cualquier ofensa, agresión o expresión de insulto dirigida a cualquier usuario de CorrectEnglish, podrá resultar en la expulsión inmediata del usuario y en la eliminación de todos sus mensajes. Estas normas son de obligado cumplimiento para todos los usuarios, y el equipo de moderadores de CorrectEnglish se basarán en ellas para regular su funcionamiento. Respetarlas nos beneficia a todos.</p>
</div>