<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/css/normas.css}" />
</head>
<h2 class="col-lg-12" id="tituloAyuda">¿Qué es Correct English?</h2>
<hr/>
<p class="col-lg-12">
Correct Enlgish es un foro en el cual los usuarios podrán debatir sobre cualquier tema que se trate en él.
</p>

<p class="col-lg-12">
Las cosas que podrás hacer en el foro son :

<ul>
<li>
	1. Podrás crear nuevas publicaciones.
</li>
<li>
	2. Responder a las publicaciones.
</li>
<li>
	3. Enviar mensajes a otros usuarios.
</li>
<li>
	4. Modificar tus propias publicaciones.
</li>
<li>
	5. Valorar las publicaciones de otros usuarios.
</li>
</ul>
</p>
<hr/>
<h2 class="col-lg-12">Sistema de puntuación</h2>
<p class="col-lg-12">
<ul>
<li>
1. Por crear un nuevo post se te sumarán 3 puntos.
</li>
<li>
2. Si alguna de tus respuestas recibe un like se te sumará 1 punto.
</li>
<li>
3. Y si alguna respuesta recibe un dislike se te restará 1 punto.
</li>

</ul>
</p>

