body {
	font-family: 'Montserrat', sans-serif;
}

.table td{
 border: 0px;
 padding: 0px;
}

.table th{
 border: 0px;
}

.tema th {
 border: 0px;
 height: 300px;
}

th{
	text-align: center;
}

tr{
	height: 20px;
}

.tema {
	width: 70%;
	text-align: left;
	height: 15px;
}

.tema a{
	text-decoration: none;
	color: black !important;
}

.apartado {
	background-color: #cbf1f5;
	text-align: left;
}

.color{
	background: #696969;
}

#fila{
	height: 20px;
}

#foro{
	color: black;
}
.barra-busqueda{
	margin-top: 20px;
}

.ulti{
	width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}