body {
	font-family: 'Montserrat', sans-serif;
}
#invisible li{
    float: left;
	margin-top: 3px;
}

#invisible i{
    float: right;	
	margin-left: 15px;
}

#error{
	color: red;
}

i{
	font-size: 30px;
	margin-top: 3px;
	margin-right: 20px;
}

.hola{
	float: right;
}

.cerrarsesion{
	float: right;
}

.campos{
	position: absolute;
	font-size: 12px;
	margin-top: 2px;
	margin-left: -1px;
}

#redes ul li{
	display: inline-block;
}

#redes ul li a{
	display: block;
}

.bordesRedondos{
	border-radius: 5px;
}