body {
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    background-color: #d6f5f9;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.bold {
    font-weight: bold;
}

#errorNombre, #errorPrimerApellido, #errorSegundoApellido, #errorEmail, #errorTelefono{
	color: red;
}
#guardarCambios,#borrarUsuario{
	margin-bottom:5px;
}