.caja {
    background-color: #d3d0d0de;
    border-radius: 5px;
    height: 120px;
}

.iconos {
	position: absolute; 
	bottom: 0;
    right: 0;
    display: inline;
}

img {
    padding: 3px 0 3px 0;
}

.colorIcono{
	bottom: 0;
    right: 0;
    color: black;
}

.nueva-respuesta {
    margin-top: 5px;
    margin-bottom: 5px;
}

#recuadro {
	padding: 10px 0px 10px 0px;
}