<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/css/buzonMensajes.css}"></link>
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
	<script th:src="@{/js/jquery.dataTables.js}"></script>
</head>
<div class="table-responsive">
	<table id="mens" class="display" style="width:100%">
		<thead>
			<tr>
			  <th class="apartado" colspan="4" style="font-size: 18px;font-weight: 700;background-color: #cbf1f5;">Mensajes</th>
			</tr>
			<tr>
			  <th class="tema" style="font-size: 15px;font-weight: 650;width: 50%;">Título</th>
			  <th style="font-size: 15px;font-weight: 650;width: 40%;">De</th>
			  <th style="font-size: 15px;font-weight: 650;width: 10%;">Borrar</th>
			</tr>
		</thead>

			<tr th:each = "mensaje: ${mensajes}">
				<div th:switch="${mensaje.leido}">
					<div th:case="false">
						  <th style="font-size: 15px;font-weight: 500;background: #EFF2F4;width: 50%;">
								<a th:href="@{'/usuario/verMensaje/' + ${mensaje.id}}" style="text-decoration: none">			  
									<strong><div th:utext="${mensaje.titulo}" style="color: black;" class="longitud"></div></strong>
								</a>
						  </th>
						  <th style="font-size: 15px;font-weight: 500;background: #EFF2F4;width: 40%;">
								<a th:href="@{'/usuario/perfilAjeno/' + ${mensaje.mensajeDe.id}}" style="text-decoration: none">
									<strong><div th:utext="${mensaje.mensajeDe.alias}" style="color: black;"></div></strong>
								</a>
						  </th>
						  <th style="font-size: 15px;font-weight: 500;background: #EFF2F4;width: 10%;text-align: center;">
								<a th:href="@{'/usuario/borrarMensaje/' + ${mensaje.id}}">
									<i class="fas fa-trash-alt" style="font-size: 22px;"></i>
								</a>
						  </th>
					</div>
					<div th:case="true">
						  <th style="font-size: 15px;font-weight: 500;width: 50%;">
								<a th:href="@{'/usuario/verMensaje/' + ${mensaje.id}}" style="text-decoration: none">			  
									<div th:utext="${mensaje.titulo}" style="color: black;" class="longitud">	
									</div>
								</a>
						  </th>
						  <th style="font-size: 15px;font-weight: 500;width: 40%;">
								<a th:href="@{'/usuario/perfilAjeno/' + ${mensaje.mensajeDe.id}}" style="text-decoration: none">
									<div th:utext="${mensaje.mensajeDe.alias}" style="color: black;">
									</div>
								</a>
						  </th>
						  <th style="font-size: 15px;font-weight: 500;width: 10%;text-align: center;">
								<a th:href="@{'/usuario/borrarMensaje/' + ${mensaje.id}}" onclick="return confirm('¿Estás seguro de que quieres borrar este mensaje?')">
									<i class="fas fa-trash-alt" style="font-size: 22px;"></i>
								</a>
						  </th>
					</div>
				</div>
			</tr>
			
	</table>
	</div>
	
<script>
$('#mens').DataTable( {
    responsive: true,
    info :false,
	ordering: false,
	language : {
		"url": "/js/spanish.json"
	}
} );

</script>